
      <!-- BLog Section Start -->
      <section class="blog-section section-padding" id="blog">
          <div class="container">
              <!-- Blog Section Title -->
              <h2 class="section-title text-center">Latest Blog</h2>
              <p class="sub-title text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, magna aliqua.Ut enim <br> consectetur adipisicing  ad minim veniam</p>

              <div class="row mt-80 blog-section-padding">
                  <!-- Blog Post Carousel -->
                  <div id="blog-post-carousel" class="owl-carousel owl-theme">

                      <!-- Single BLog Post 1 -->
                      <div class="item">
                          <article class="single-blog-post">
                              <!-- BLog Post Image -->
                              <div class="col-md-6 blog-post-image">
                                  <figure>
                                      <a href="#"><img class="img-responsive img-thumbnail" src="img/blog/post-1.jpg" alt="Blog post image"></a>
                                  </figure>
                              </div>

                              <!-- Blog Post Details -->
                              <div class="col-md-5 col-md-offset-1 blog-post-details mt-30">
                                  <!-- Blog Post Heading -->
                                  <div class="post-heading mb-30">
                                      <a href="#"><h2>Free giveaway on Black Friday</h2></a>
                                      <em>15 April 2015 / by <a href="#">Fin Baba</a> / <a href="#">1 comment</a></em>
                                  </div>

                                  <p>Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>

                                  <button class="btn-primary read-more-btn mt-30">Find Out More</button>
                              </div>
                          </article>
                      </div>


                      <!-- Single BLog Post 2 -->
                      <div class="item">
                          <article class="single-blog-post">
                              <!-- BLog Post Image -->
                              <div class="col-md-6 blog-post-image">
                                  <figure>
                                      <a href="#"><img class="img-responsive img-thumbnail" src="img/blog/post-2.jpg" alt="Blog post image"></a>
                                  </figure>
                              </div>

                              <!-- Blog Post Details -->
                              <div class="col-md-5 col-md-offset-1 blog-post-details mt-30">
                                  <!-- Blog Post Heading -->
                                  <div class="post-heading mb-30">
                                      <a href="#"><h2>Photography Fundamentals 101</h2></a>
                                      <em>20 March 2015 / by <a href="#">Doni Vai</a> / <a href="#">10 comments</a></em>
                                  </div>

                                  <p>Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>

                                  <button class="btn-primary read-more-btn mt-30">Find Out More</button>
                              </div>
                          </article>
                      </div>

                      <!-- Single BLog Post 3 -->
                      <div class="item">
                          <article class="single-blog-post">
                              <!-- BLog Post Image -->
                              <div class="col-md-6 blog-post-image">
                                  <figure>
                                      <a href="#"><img class="img-responsive img-thumbnail" src="img/blog/post-3.jpg" alt="Blog post image"></a>
                                  </figure>
                              </div>

                              <!-- Blog Post Details -->
                              <div class="col-md-5 col-md-offset-1 blog-post-details mt-30">
                                  <!-- Blog Post Heading -->
                                  <div class="post-heading mb-30">
                                      <a href="#"><h2>A great evening on Sajek Valley</h2></a>
                                      <em>30 August 2015 / by <a href="#">Tanvir Alam</a> / <a href="#">24 comments</a></em>
                                  </div>

                                  <p>Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>

                                  <button class="btn-primary read-more-btn mt-30">Find Out More</button>
                              </div>
                          </article>
                      </div>

                      <!-- Single BLog Post 4 -->
                      <div class="item">
                          <article class="single-blog-post">
                              <!-- BLog Post Image -->
                              <div class="col-md-6 blog-post-image">
                                  <figure>
                                      <a href="#"><img class="img-responsive img-thumbnail" src="img/blog/post-4.jpg" alt="Blog post image"></a>
                                  </figure>
                              </div>

                              <!-- Blog Post Details -->
                              <div class="col-md-5 col-md-offset-1 blog-post-details mt-30">
                                  <!-- Blog Post Heading -->
                                  <div class="post-heading mb-30">
                                      <a href="#"><h2>Playing with raspberry pi zero</h2></a>
                                      <em>21 September 2015 / by <a href="#">Nazim</a> / <a href="#">8 comments</a></em>
                                  </div>

                                  <p>Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>

                                  <button class="btn-primary read-more-btn mt-30">Find Out More</button>
                              </div>
                          </article>
                      </div>

                  </div>
              </div>
          </div>
      </section>
