<!-- Contact Us Section -->

<section class="contact-us-section section-padding" id="contact">
    <div class="container">
        <!-- Contact Us Section Title -->
        <h2 class="section-title contact-title text-center">Contact Us</h2>
        <p class="sub-title contact-subtitle text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, magna aliqua.Ut enim <br> consectetur adipisicing  ad minim veniam</p>

        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="contact-form-section mt-50">
                    <form method="POST" action="//formspree.io/{{ with .Site.Params.contact.sendTo }}{{ .  }}{{ end }}" id="contactForm" name="contact-form" role="form" novalidate>
                        <div class="row">
                            <div class="col-sm-5 col-md-4">
                            {{ range $key, $field := .Site.Data.contact.form.fields }}
                                {{ if ne $key "message" }}
                                  {{ with $field }}
                                <!-- Form Main Field -->
                                <div class="form-group contact-form-icon">
                                  <label class="sr-only">{{ .placeholder }}</label>
                                  <i class="fa {{ .icon }}"></i>
                                  <input type="{{ .type }}" placeholder="{{ .placeholder }}" id="{{ $key }}" class="form-control" name="{{ .name }}" {{ if .required }}required{{ end }}>
                                  <p class="help-block text-danger"></p>
                                </div>
                                  {{ end }}
                                {{ end }}
                            {{ end }}
                            </div>
                            {{ with .Site.Data.contact.form.fields.message }}
                            <div class="col-sm-7 col-md-8">
                                <div class="form-group contact-form-icon">
                                  <label for="message" class="sr-only">{{ .placeholder }}</label>
                                  <i class="fa {{ .icon }}"></i>
                                  <textarea placeholder={{ .placeholder }} rows="{{ .rows }}" id="message" class="form-control" name="{{ .message }}" {{ if .required }}required{{ end }}></textarea>
                                  <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-sm-5 col-md-4 text-center contact-button-padding">
                                <button class="btn-primary btn-contact btn-block" value="Send" name="submit" type="submit"><i class="fa fa-paper-plane"></i> Send</button>
                            </div>
                            {{ end }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Of Contact Us Section -->
