<!DOCTYPE html>

<html class="no-js" lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
    {{ partial "head.html" . }}
    </head>
    <body>
    {{ partial "nav.html" . }}
    {{ partial "hero.html" . }}
    {{ partial "about.html" . }}
    {{ partial "services.html" . }}
    {{ partial "testimonials.html" . }}}
    {{ partial "portfolio.html" . }}
    {{ partial "partners.html" . }}
    {{ partial "prices.html" . }}
    {{ partial "awards.html" . }}
    {{ partial "blog.html" . }}
    {{ partial "contact.html" . }}
    {{ partial "gmap.html" . }}
    {{ partial "footer.html" . }}
    {{ partial "js.html" . }}
    </body>
</html>
